@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.full-page {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/image.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

nav ul li button {
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}

nav ul li button:hover {
    font-weight: bold;
    color: black;
    border-radius: 10px;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.4s ease;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #fcfcfb;
    font-size: 28px;
}

.name {
    font-size: 100px;
    color: #007dc5;
    text-align: center;
    align-items: center;
    padding-top: 70px;
}

.patterns {
    height: 50vh;
    padding-top: 100px;
}
  
svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #007dc5;
    font-size: 100px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}
  
@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset:  20%;
        fill:hsl(189, 100%, 1%)

    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%,0%)
    }
}
  